@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$dark-red: #bd2a2a;
$gold: #ffd46c;
$black: #0a0408;
$grey: #564d4d;
$white: #ffff;

body {
  background-color: $black;
  font-family: "Roboto", sans-serif;
}
