$dark-red: #bd2a2a;
$gold: #a67c00;
$black: #0a0408;
$grey: #564d4d;
$white: #ffff;

#appNavBar {
  background-color: $dark-red;
}

#welcomeLogo {
  background-color: $gold;
  background-image: linear-gradient(to bottom right, $gold, $black);
}

#loginForm {
  background-color: $black;
}

#loginButton {
  background-color: $gold;
  border: none;
}

#loginButton:hover {
  filter: brightness(85%);
}

.dropdown-menu {
  background-color: $black;
}
